<% provide :title,  t("Listing ", model: t('activerecord.models.history').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= will_paginate @histories %>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.history.created_at') %></th>
      <!-- <th><%= t('activerecord.attributes.history.user') %></th> -->
      <th colspan="3"><%= t('activerecord.attributes.history.mission') %></th>
      <th><%= t('activerecord.attributes.user.total_experience') %></th>
      <th><%= t('activerecord.attributes.user.average_level') %></th>
    </tr>
  </thead>

  <% count = Category.all.count %>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= I18n.l history.created_at %></td>
        <!-- <td><%= history.user.name %></td> -->
        <% mission = history.mission %>
        <% if mission.category %>
          <td><%= mission.category.name %></td>
          <td>Lv.<%= mission.level.value %></td>
        <% else %>
          <td>ボーナス</td>
          <td>Lv.0</td>
        <% end %>
        <td><%= mission.description %></td>
        </td>
        <td><%= history.recent_experience %> → <%= history.experience %></td>
        <td><%= Level.get_level_from_experience(history.recent_experience / count).value %> → <%= Level.get_level_from_experience(history.experience / count).value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @histories %>

<br>
<%= link_to t('Back'), user_path %>
