<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.number') %></strong></h3>
  </div>
  <div class="panel-body">
    <%= @user.number %>
  </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.role') %></strong></h3>
  </div>
  <div class="panel-body">
    <%= @user.role.japanese_name %>
  </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.seminar') %></strong></h3>
  </div>
  <div class="panel-body">
    <% if @user.seminar %><%= @user.seminar.name %><% end %>
  </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.name') %></strong></h3>
  </div>
  <div class="panel-body">
    <%= @user.name %>
  </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.email') %></strong></h3>
  </div>
  <div class="panel-body">
    <%= @user.email %>
  </div>  
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= t('activerecord.attributes.user.idm') %></strong></h3>
  </div>
  <div class="panel-body">
    <%= @user.idm %>
  </div>  
</div>

<p>
  <strong><%= t('activerecord.models.status') %>:</strong>
  Lv.<%= @user.average_level.value %> (<%= @user.total_experience %> / <%= @user.average_level.next.required_experience * @categories.count %>)
</p>
<ul>
	<% @categories.each do |category| %>
	  <li>
	    <strong><%= category.name %>:</strong>
	    <% experience = @user.statuses.find_by(category_id: category.id).experience %>
	    <% level = Level.get_level_from_experience(experience) %>
	    Lv.<%= level.value %> (<%= experience %> / <%= level.next.required_experience %>)
	  </li>
	<% end %>
</ul>

<p>
  <strong><%= t('activerecord.models.assign') %>:</strong>
</p>
<ul>
  <% @user.assigns.each do |assign| %>
    <li>
      <%= assign.mission.category.name %>
      Lv.<%= assign.mission.level.value %>
      <%= assign.mission.description %>
      <% history = History.new(user_id: @user.id, mission_id: assign.mission.id) %>
      <%= form_for(history, html: { style: "display: inline;" }) do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :mission_id %>
          <%= f.submit value: '実行' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to t('Settings'), edit_user_registration_path %> | 
<%= link_to t('Back'), users_path %>
