<h1><%= t('Self Informations') %></h1>
<div class="container">
  <strong><%= t('activerecord.models.status') %></strong>:
  Lv.<%= @user.average_level.value %>
  <%= t('Required Experiments for Next Level') %>
  <%= @user.total_experience %> /
  <%= @user.average_level.next.required_experience * @categories.count %>
  <div class="progress">
    <div class="progress-bar" aria-valuemin="0" aria-valuemax="<%=@user.average_level.next.required_experience * @categories.count%>" style="width:<%= 100.0*@user.total_experience/@user.average_level.next.required_experience/@categories.count %>%;">
    </div>
  </div>  

  <ul>
    <% @categories.each do |category| %>
      <li>
        <strong><%= category.name %>:</strong>
        <% experience = @user.statuses.find_by(category_id: category.id).experience %>
        <% level = Level.get_level_from_experience(experience) %>
        Lv.<%= level.value %>
        <%= t('Required Experiments for Next Level') %>
        <%= experience %> /
        <%= level.next.required_experience %>
        <div class="progress">
          <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="<%= level.next.required_experience %>" aria-valuenow="<%= experience %>" style="width: <%= 100.0*experience/level.next.required_experience %>%;">
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <p>
    <strong><%= t('activerecord.models.assign') %>:</strong>
  </p>
  <% if current_user.has_role?("administrator") %>
    <%= form_tag({controller: :histories, action: :create}, {method: :post}) do %>
      <fieldset>
        <%= hidden_field_tag "histories[user_id]", @user.id %>
        <% assigns = @user.assigns.order('id ASC') %>
        <% assigns.each do |assign| %>
        <% mission = assign.mission %>
          <%= check_box_tag :history, value = assign.mission.id, checked = false, {name: "histories[mission_ids][]", id: "mission_#{mission.id}"} %>
          <%= label "mission", mission.id, "#{mission.category.name} Lv.#{mission.level.value}: #{mission.description}" %><br>
        <% end %>
        <%= submit_tag t('Achieve Missions') %>
      </fieldset>
    <% end %>
  <% else %>
    <ul>
    <% assigns = @user.assigns.order('id ASC') %>
    <% assigns.each do |assign| %>
      <% mission = assign.mission %>
      <li><strong><%= "#{mission.category.name} Lv.#{mission.level.value}" %></strong>: <%= "#{mission.description}" %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="bg-info">
    <p>
      <strong><%= t('activerecord.attributes.user.number') %>:</strong>
      <%= @user.number %>
    </p>
  </div>  

    <div class="bg-info">
      <p>
        <strong><%= t('activerecord.attributes.user.seminar') %>:</strong>
        <% if @user.seminar %><%= @user.seminar.name %><% end %>
      </p>
    </div>

    <div class="bg-info">
      <p>
        <strong><%= t('activerecord.attributes.user.name') %>:</strong>
        <%= @user.name %>
      </p>
    </div>

    <div class="bg-info">
      <p>
        <strong><%= t('activerecord.attributes.user.email') %>:</strong>
        <%= @user.email %>
      </p>
    </div>

    <div class="bg-info">
      <p>
        <strong><%= t('activerecord.attributes.user.card_number') %>:</strong>
        <%= @user.card_number %>
      </p>
    </div>

  <p>  
    <%= link_to t('activerecord.models.history'), user_histories_path, class: "btn btn-info", style: "color:white;"%>
  </p>

  <p>  
    <%= link_to t('devise.passwords.edit.change_your_password', default: 'Change your password'), edit_user_registration_path, class: "btn btn-info", style: "color:white;"%>
  </p>

  <p>
    <%= link_to t('Back'), root_path, class: "btn btn-info", style: "color:white;"%>
  </p>
</div>