<h1><%= t('Welcome') %>!</h1>
<p>ミッションを達成し、自分自身をレベルアップしよう！</p>
<% if user_signed_in? %>
 	<p>
 		<%= link_to t("My Information"), user_path(fpno: current_user.fpno) , class: "btn btn-info", style: "color:white;"%>
 	</p>
	<p>
		<%= link_to t("Sign out"), destroy_user_session_path, method: :delete, class: "btn btn-info", style: "color:white;"%>
	</p>
<% else %>
	<p>
		<%= link_to t("Sign in"), new_user_session_path, class: "btn btn-info", style: "color:white;" %>
	</p>
<% end %>

<h2>お知らせ！</h2>
<ul>
	<li>10/30: アクセスボーナスキャンペーン中！<br>今、このWebアプリにアクセスすると、1日1回までボーナス経験値がつくキャンペーン中です！</li>
	<li>10/29: プロジェクトスタート！<br>
	学生生活「見える化」プロジェクトがはじまりました！</li>
</ul>
<% if @ranking.present? %>
	<h2><%= t('User Ranking') %></h2>
	<ul>
		<% @ranking.each do |user| %>
			<li>Lv.<%= user.average_level.value %> (<%= user.total_experience %>): <%= user.name %></li>
		<% end %>
	</ul>
<% end %>

<% if @histories.present? %>
	<h2><%= t('Recent Histories') %></h2>
	<ul>
		<% @histories.each do |history| %>
			<% user = history.user %>
			<% mission = history.mission %>
			<li>
				<%= I18n.l history.created_at %><br>
				<%= mission.category.name %> Lv.<%= mission.level.value %><br>
				&quot;<%= mission.description %>&quot;<br>
				by <%= user.name %>
			</li>
		<% end %>
	</ul>
<% end %>