<%= form_for(@assign) do |f| %>
  <% if @assign.errors.any? %>
    <div id="error_explanation">
      <h2><%=t "activerecord.errors.template.header.other", :model => Assign.model_name.human, :count => @assign.errors.count %>:</h2>

      <ul>
      <% @assign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :mission_id %><br>
    <%= f.text_field :mission_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
