<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assign.user %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @assign.mission %>
</p>

<%= link_to 'Edit', edit_assign_path(@assign) %> |
<%= link_to 'Back', assigns_path %>
