<p>
  <strong><%= t('activerecord.attributes.role.name') %>:</strong>
  <%= @role.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.role.japanese_name') %>:</strong>
  <%= @role.japanese_name %>
</p>

<%= link_to t('Edit'), edit_role_path(@role) %> |
<%= link_to t('Back'), roles_path %>
