<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.level.value') %>:</strong>
  <%= @level.value %>
</p>

<p>
  <strong><%= t('activerecord.attributes.level.sufficiencies') %>:</strong>
  <%= @level.sufficiencies %>
</p>

<%= link_to t('Edit'), edit_level_path(@level) %> |
<%= link_to t('Back'), levels_path %>
