<% provide :title,  t("Listing ", model: t('activerecord.models.mission').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th rowspan="2"><%= t('activerecord.attributes.mission.description') %></th>
      <th rowspan="2"><%= t('activerecord.attributes.mission.category') %></th>
      <th rowspan="2"><%= t('activerecord.attributes.mission.level') %></th>
      <th colspan="<%= @categories.count %>"><%= t('activerecord.models.acquisition') %></th>
      <% if current_user.has_role?("administrator") %>
        <th colspan="3"></th>
      <% end %>
    </tr>
    <tr>
      <% @categories.each do |category| %>
        <th><%= category.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.description %></td>
        <% if mission.category %>
          <td><%= mission.category.name %></td>
          <td><%= mission.level.value %></td>
        <% else %>
          <td>ボーナス</td>
          <td>0</td>
        <% end %>
        <% @categories.each do |category| %>
          <td><%= mission.acquisitions.find_by(category_id: category.id).experience %></td>
        <% end %>
        <% if current_user.has_role?("administrator") %>
          <td><%= link_to t('Show'), mission %></td>
          <td><%= link_to t('Edit'), edit_mission_path(mission) %></td>
          <td><%= link_to t('Destroy'), mission, method: :delete, data: { confirm: t('Are you sure?') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<% if current_user.has_role?("administrator") %>
<%= link_to t('New ', model: t('activerecord.models.mission')), new_mission_path %>
<% end %>
