<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.mission.description') %>:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.mission.category') %>:</strong>
  <%= @mission.category %>
</p>

<p>
  <strong><%= t('activerecord.attributes.mission.level') %>:</strong>
  <%= @mission.level %>
</p>

<%= link_to t('Edit'), edit_mission_path(@mission) %> |
<%= link_to t('Back'), missions_path %>
